<TMPL_INCLUDE NAME="partial/head.tmpl"><!-- -*- HTML -*- -->
<body>
  <div id="header">
    <h1><a href="<TMPL_VAR NAME="R_PATH">"><span class="logo"></span></a> <span class="currentpage">Overview</span></h1>
  </div>
  <div id="main">
    <TMPL_INCLUDE NAME="partial/navigation.tmpl">
    <div id="content">
      <h2>Overview</h2>
      <TMPL_IF NAME="GROUPS">
        <ul class="groupview">
          <TMPL_LOOP NAME="GROUPS">
            <TMPL_UNLESS NAME="MULTIGRAPH">
              <li <TMPL_IF NAME="__LAST__">class="last"</TMPL_IF>>
                <TMPL_IF NAME="NCATEGORIES"><span class="host"><TMPL_ELSE><span class="domain"></TMPL_IF><a href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a></span>
                <TMPL_IF NAME="COMPARE">
                  &nbsp;::&nbsp;[
                  <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-day.html">day</a>
                  <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-week.html">week</a>
                  <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-month.html">month</a>
                  <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-year.html">year</a>
                  &nbsp;]
                </TMPL_IF>
                <TMPL_IF NAME="NCATEGORIES">
                  [&nbsp;
                  <TMPL_LOOP NAME="CATEGORIES">
                    <a <TMPL_IF NAME="STATE_WARNING">class="warn"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="crit"</TMPL_IF> href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                  </TMPL_LOOP>&nbsp]
                </TMPL_IF>
                <ul>
                  <TMPL_LOOP NAME="GROUPS">
                    <TMPL_UNLESS NAME="MULTIGRAPH">
                      <li <TMPL_IF NAME="__LAST__">class="last"</TMPL_IF>>
                        <TMPL_IF NAME="NCATEGORIES"><span class="host"><TMPL_ELSE><span class="domain"></TMPL_IF><a href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a></span>
                        <TMPL_IF NAME="COMPARE">
                          &nbsp;::&nbsp;[
                          <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-day.html">day</a>
                          <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-week.html">week</a>
                          <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-month.html">month</a>
                          <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-year.html">year</a>
                          &nbsp;]
                        </TMPL_IF>
                        <TMPL_IF NAME="NCATEGORIES">
                          [&nbsp;
                          <TMPL_LOOP NAME="CATEGORIES">
                            <a <TMPL_IF NAME="STATE_WARNING">class="warn"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="crit"</TMPL_IF> href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                            &nbsp;
                          </TMPL_LOOP>
                          ]
                        </TMPL_IF>
                        <ul>
                          <TMPL_LOOP NAME="GROUPS">
                            <TMPL_UNLESS NAME="MULTIGRAPH">
                              <li <TMPL_IF NAME="__LAST__">class="last"</TMPL_IF>>
                                <TMPL_IF NAME="NCATEGORIES"><span class="host"><TMPL_ELSE><span class="domain"></TMPL_IF><a href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a></span>
                                <TMPL_IF NAME="COMPARE">
                                  &nbsp;::&nbsp;[
                                  <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-day.html">day</a>
                                  <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-week.html">week</a>
                                  <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-month.html">month</a>
                                  <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-year.html">year</a>
                                  &nbsp;]
                                </TMPL_IF>
                                <TMPL_IF NAME="NCATEGORIES">
                                  [&nbsp;
                                  <TMPL_LOOP NAME="CATEGORIES">
                                    <a <TMPL_IF NAME="STATE_WARNING">class="warn"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="crit"</TMPL_IF> href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                                    &nbsp;
                                  </TMPL_LOOP>]
                                </TMPL_IF>
                                <ul>
                                  <TMPL_LOOP NAME="GROUPS">
                                    <TMPL_UNLESS NAME="MULTIGRAPH">
                                      <li <TMPL_IF NAME="__LAST__">class="last"</TMPL_IF>>
                                        <TMPL_IF NAME="NCATEGORIES"><span class="host"><TMPL_ELSE><span class="domain"></TMPL_IF><a href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a></span>
                                        <TMPL_IF NAME="COMPARE">
                                          &nbsp;::&nbsp;[
                                          <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-day.html">day</a>
                                          <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-week.html">week</a>
                                          <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-month.html">month</a>
                                          <a href="<TMPL_VAR NAME="R_PATH">/<TMPL_LOOP NAME="PATH"><TMPL_IF NAME="pathname"><TMPL_VAR ESCAPE="URL" NAME="PATHNAME">/</TMPL_IF></TMPL_LOOP>comparison-year.html">year</a>
                                          &nbsp;]
                                        </TMPL_IF>
                                        <TMPL_IF NAME="NCATEGORIES">
                                          [&nbsp;
                                          <TMPL_LOOP NAME="CATEGORIES">
                                            <a <TMPL_IF NAME="STATE_WARNING">class="warn"</TMPL_IF> <TMPL_IF NAME="STATE_CRITICAL">class="crit"</TMPL_IF> href="<TMPL_VAR NAME="URL">"><TMPL_VAR ESCAPE="HTML" NAME="NAME"></a>
                                          </TMPL_LOOP>
                                          &nbsp;]
                                        </TMPL_IF>
                                      </li>
                                    </TMPL_UNLESS>
                                  </TMPL_LOOP>
                                </ul>
                              </li>
                            </TMPL_UNLESS>
                          </TMPL_LOOP>
                        </ul>
                      </li>
                    </TMPL_UNLESS>
                  </TMPL_LOOP>
                </ul>
              </li>
            </TMPL_UNLESS>
          </TMPL_LOOP>
        </ul>
      <TMPL_ELSE>
        Warning: no hosts were configured for data collection. See the <a href="http://guide.munin-monitoring.org/en/latest/installation/configuration.html#add-some-nodes">Munin Guide</a> for details.
      </TMPL_IF>
      <div class="contentpusher"></div>
    </div>
  </div>
  <TMPL_INCLUDE NAME="partial/footer.tmpl">
</body>
</html>
